@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #10403B, #127369);
}

main {
    background-color: #8AA6A3;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #29302f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #10403B;
    text-align: center;
    text-shadow: 1px 1px 2px #127369;
}

h2 {
    color: #127369;
}

p {
    text-align: justify;
    color: #4C5958;
}